%(head_prefix)s
%(head)s
<meta name="description" content="Freelance Spanish to English Translator" />
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="icon.png">
%(stylesheet)s
%(body_prefix)s
<section id="main">
<header>
   <span><a href="/en">en</a> / <a href="/es">es</a></span>
</header>
%(body_pre_docinfo)s
%(body)s
<footer><span>copyright &copy; 2024</span></footer>
</section>
%(body_suffix)s
