// small screen, phone tablet
$header_height: 2rem;

@media (max-width: 1024px) {
  body {
    font-size: 24px;
    background-image: url('/static/images/markus-winkler-ZYvGVyuWxaA-unsplash_small.jpg');
    padding-top: $header_height;
  }

  header {
    padding-right: 1.5rem;
    height: $header_height;
  }

  section {
    margin-bottom: 5rem;

    main {
      margin: 1.5rem;
      font-size: 14px;
      display: flex;
      flex-direction: column;

      p {
        line-height: 1.5rem;
      }

      .button {
        text-align: center;
        font-size: 1.25rem;
        max-width: 12rem;
        justify-content: center;
        align-self: center;
      }
    }
  }

  footer {
    font-size: 10px;
  }
}
