@use "normalize";
@use "html5-bp";

$mainbg: rgb(157, 0, 16, 0.8); // main section background color
$fgcolor: rgba(239, 255, 255, 255);
$color2: black;

@font-face {
  font-family: "regular-serif";
  src: url(/static/fonts/bitter/Bitter-Bold.ttf);
}

@font-face {
  font-family: "bitter-italic";
  src: url(/static/fonts/bitter/Bitter-ExtraBoldItalic.ttf);
}

body {
  background-image: url('/static/images/markus-winkler-ZYvGVyuWxaA-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "regular-serif";
  font-size: 26px;
  color: $fgcolor;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: unsafe center;
  min-height: 100vh;
}

section#main {
  max-width: 75vw;
  padding: 1.5rem 2.5rem;
  background: $mainbg;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, 0.6);

  p {
     margin: 1rem 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: .35rem;
}

// strong {
//   font-family: "bitter-italic";
  // color: $color2;
// }

em {
  font-style: normal;
  color: black;
  font-weight: 900;
}

header {
  text-align: right;
  padding: 0;
  color: $mainbg;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;

  span {
    display: inline-block;
    background: white;
    padding: 1px 3px 2px 3px;
  }

  a {
    color: $mainbg;

    &:hover {
      box-shadow: inset 0px -5px $mainbg;
    }
  }
}

// this is currently a link element
.reference {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  cursor: default;
  background: $color2;

  &:hover {
    background: rgba(34, 3, 3, 255);
  }
}

// This is only used for development
.del {
  text-decoration: line-through;
}

.italic {
  font-family: "bitter-italic";
}

.centered {
  text-align: center;
  p {
   text-align: inherit;
  }
}

footer {
  color: $mainbg;
  font-size: 17px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: .5rem;

  span {
    padding: 1px 1px 2px 1px;
    background: $fgcolor;
  }
}

@import "responsive";
